In [6]:
numbers = range(10)
num_plus_one = [num + 1 for num in numbers if num%2]
num_plus_one

[2, 4, 6, 8, 10]

In [7]:
map(lambda k: k+1, numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
game_of_thrones = [(4,"john snow"), (5, "ned stark")]
map(lambda x: str(x[0])+x[1], game_of_thrones)

['4john snow', '5ned stark']

In [4]:
x = [1,2,3,4]
y = [10,11,12,13]
zip(x,y)

[(1, 10), (2, 11), (3, 12), (4, 13)]

In [5]:
dict(zip(x,y))

{1: 10, 2: 11, 3: 12, 4: 13}

In [6]:
enumerate(range(10))

In [7]:
list(enumerate(range(10)))

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]

In [8]:
names = ["John", "Chuck", "Wall"]
for idx, item in enumerate(names):
    print idx, item

0 John
1 Chuck
2 Wall

In [9]:
chars = "John snow and ya boi"
[char for strg in chars for char in strg]

['J',
 'o',
 'h',
 'n',
 ' ',
 's',
 'n',
 'o',
 'w',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'y',
 'a',
 ' ',
 'b',
 'o',
 'i']

In [10]:
import pandas as pd
column_names = ["height", "weight", "is_male"]
values = [[62,54,60,50], [180,120,200,100],[True,False,True,False]]
records = pd.DataFrame({col:vals for col, vals in zip(column_names, values)})

In [11]:
zip(column_names, values)

[('height', [62, 54, 60, 50]),
 ('weight', [180, 120, 200, 100]),
 ('is_male', [True, False, True, False])]

In [12]:
#Dictionary Comprehension
{col: values for col, values in zip(column_names, values)}

{'height': [62, 54, 60, 50],
 'is_male': [True, False, True, False],
 'weight': [180, 120, 200, 100]}

In [13]:
records

   height is_male  weight
0      62    True     180
1      54   False     120
2      60    True     200
3      50   False     100